@import "~bootstrap/scss/bootstrap";

/* color scheme */

$black: #010400;
$jet: #30332E;
$white: #FFFBFC;
$blue: #62BBC1;
$red: #D33F49;

.navbar
  &--container
    background-color: $jet;
    color: $white;
    a
      color: $white;

.video
  &--container
    background-color: $blue;

